.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-left: 200px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.title {
  margin: 0;
  color: rgb(35, 155, 95);
  cursor: pointer;
}
.floor {
  color: rgb(255, 255, 255);
}
.hotspotsMenu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.hotspotsTop{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hotspotOne{
    width: 82%;
    height: auto;
}
